.drag-container {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 15vh;
}

.drag-img {
  width: 150px;
  height: 160px;
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}
.owl-carousel {
  height: 35vh !important;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: 350px;
  cursor: pointer;
  object-fit: fill;
  margin: 0 auto;
  box-shadow: 6px 9px 9px 2px #00000029;
}

.category-title {
  color: #fff;
  padding-left: 75px;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: system-ui;
  font-size: 3vw;
}

.review-video {
  object-fit: fill;
  width: 100%;
  height: 350px;
}
